openapi: 3.0.3
info:
  title: B-ting Backend API
  description: B-ting backend API documentation.
  version: 0.0.1-SNAPSHOT
servers:
  - url: https://api.buting.store
    description: Production server
  - url: http://localhost:8080
    description: Local development server
tags:
  - name: Auth
    description: Authentication APIs
  - name: User
    description: User APIs
  - name: Place
    description: Place search APIs
  - name: TravelSurvey
    description: Travel survey profile APIs
  - name: Chat
    description: Chat APIs
  - name: WebSocket STOMP
    description: 웹소켓 연결 및 실시간 메시지 송수신 명세 가이드 (REST API가 아님)

paths:
  /api/v1/auth/oauth/login:
    post:
      tags:
        - Auth
      summary: 클라이언트 SSO 로그인
      description: |
        웹 클라이언트는 Google/Naver/Kakao SSO 로그인 후 받은 authorization code를 백엔드로 전달합니다.
        앱 클라이언트는 SDK에서 받은 Google/Kakao id_token을 providerToken으로 전달할 수 있습니다.
        백엔드는 authorization code를 각 provider token endpoint에서 교환하거나, id_token JWT 클레임의 audience(aud), issuer(iss), expiration(exp)을 검증합니다.
        Kakao 앱 id_token은 Kakao tokeninfo API로 1차 검증한 뒤, 백엔드에 등록된 client id와 aud가 일치하는 경우에만 인증 처리합니다.

        백엔드는 provider token을 검증하고, 기존 회원 조회/연결 또는 신규 회원 생성을 수행한 뒤 B-TING 전용 opaque access token을 발급합니다.
        Swagger 상단 Authorize로 기존 B-TING opaque token을 인증해두면, 같은 사용자이고 만료 전인 경우 기존 토큰을 재사용합니다.
        기존 토큰이 없거나 만료/폐기/다른 사용자 토큰이면 새 opaque token을 발급합니다.
      security:
        - opaqueToken: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuthLoginRequest"
            examples:
              googleCode:
                summary: Google PKCE authorization code 로그인
                value:
                  provider: google
                  providerToken: GOOGLE_AUTHORIZATION_CODE
                  redirectUri: http://localhost:8080/login/oauth2/code/google
                  codeVerifier: GOOGLE_CODE_VERIFIER
              googleAppIdToken:
                summary: Google 앱 id_token 로그인
                value:
                  provider: google
                  providerToken: GOOGLE_APP_ID_TOKEN
              naverCode:
                summary: Naver PKCE authorization code 로그인
                value:
                  provider: naver
                  providerToken: code=NAVER_AUTHORIZATION_CODE&state=NAVER_STATE
                  redirectUri: http://localhost:8080/login/oauth2/code/naver
                  codeVerifier: NAVER_CODE_VERIFIER
              kakaoCode:
                summary: Kakao PKCE authorization code 로그인
                value:
                  provider: kakao
                  providerToken: KAKAO_AUTHORIZATION_CODE
                  redirectUri: http://localhost:8080/login/oauth2/code/kakao
                  codeVerifier: KAKAO_CODE_VERIFIER
              kakaoAppIdToken:
                summary: Kakao 앱 id_token 로그인
                value:
                  provider: kakao
                  providerToken: KAKAO_APP_ID_TOKEN
      responses:
        "200":
          description: OAuth login succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuth2LoginResponseEnvelope"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Provider token verification failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/places:
    get:
      tags:
        - Place
      summary: 장소 목록 조회
      description: |
        한국관광공사 지역기반 관광정보(areaBasedList2)를 조회한 뒤, 프론트에서 필요한 장소 표시용 필드만 반환합니다.
        부산 법정동 시도 코드 `26`은 백엔드에서 고정으로 사용합니다.
        공공데이터 serviceKey, MobileOS, MobileApp, _type 값은 백엔드에서 관리합니다.
      parameters:
        - name: page
          in: query
          required: false
          description: 페이지 번호
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: size
          in: query
          required: false
          description: 한 페이지 결과 수
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: districtCode
          in: query
          required: false
          description: "부산 법정동 시군구 코드: 110 중구, 140 서구, 170 동구, 200 영도구, 230 부산진구, 260 동래구, 290 남구, 320 북구, 350 해운대구, 380 사하구, 410 금정구, 440 강서구, 470 연제구, 500 수영구, 530 사상구, 710 기장군"
          schema:
            type: string
            enum:
              - "110"
              - "140"
              - "170"
              - "200"
              - "230"
              - "260"
              - "290"
              - "320"
              - "350"
              - "380"
              - "410"
              - "440"
              - "470"
              - "500"
              - "530"
              - "710"
          example: "440"
        - name: contentTypeId
          in: query
          required: false
          description: "관광타입 ID: 12 관광지, 14 문화시설, 15 축제공연행사, 25 여행코스, 28 레포츠, 32 숙박, 38 쇼핑, 39 음식점"
          schema:
            type: string
            enum:
              - "12"
              - "14"
              - "15"
              - "25"
              - "28"
              - "32"
              - "38"
              - "39"
          example: "39"
        - name: arrange
          in: query
          required: false
          description: "정렬 구분: A 제목순, C 수정일순, D 생성일순, O 대표이미지 있는 제목순, Q 대표이미지 있는 수정일순, R 대표이미지 있는 생성일순"
          schema:
            type: string
            enum:
              - A
              - C
              - D
              - O
              - Q
              - R
            default: C
          example: C
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceSearchResponse"
  /api/v1/places/location:
    get:
      tags:
        - Place
      summary: 위치 기반 장소 목록 조회
      description: |
        한국관광공사 위치기반 관광정보(locationBasedList2)를 조회한 뒤, 프론트에서 필요한 장소 표시용 필드만 반환합니다.
        공공데이터 serviceKey, MobileOS, MobileApp, _type 값은 백엔드에서 관리합니다.
        mapX/mapY는 WGS84 경도/위도 좌표이며, radius는 meter 단위이고 최대 20,000m입니다.
      parameters:
        - name: page
          in: query
          required: false
          description: 페이지 번호
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: size
          in: query
          required: false
          description: 한 페이지 결과 수
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: mapX
          in: query
          required: true
          description: GPS X좌표, WGS84 경도 좌표
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          example: 129.160
        - name: mapY
          in: query
          required: true
          description: GPS Y좌표, WGS84 위도 좌표
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          example: 35.163
        - name: radius
          in: query
          required: true
          description: 거리 반경, meter 단위, 최대 20,000m
          schema:
            type: integer
            minimum: 1
            maximum: 20000
          example: 1000
        - name: contentTypeId
          in: query
          required: false
          description: "관광타입 ID: 12 관광지, 14 문화시설, 15 축제공연행사, 25 여행코스, 28 레포츠, 32 숙박, 38 쇼핑, 39 음식점"
          schema:
            type: string
            enum:
              - "12"
              - "14"
              - "15"
              - "25"
              - "28"
              - "32"
              - "38"
              - "39"
          example: "32"
        - name: arrange
          in: query
          required: false
          description: "정렬 구분: A 제목순, C 수정일순, D 생성일순, E 거리순, O 대표이미지 있는 제목순, Q 대표이미지 있는 수정일순, R 대표이미지 있는 생성일순, S 대표이미지 있는 거리순"
          schema:
            type: string
            enum:
              - A
              - C
              - D
              - E
              - O
              - Q
              - R
              - S
            default: E
          example: E
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceSearchResponse"
  /api/v1/places/festivals:
    get:
      tags:
        - Place
      summary: 행사 정보 목록 조회
      description: |
        한국관광공사 행사정보(searchFestival2)를 조회한 뒤, 요청한 행사 시작일/종료일 기준의 행사 목록을 반환합니다.
        부산 법정동 시도 코드 `26`은 백엔드에서 고정으로 사용합니다.
        eventStartDate는 공공데이터 필수값이며, eventEndDate는 선택값입니다.
      parameters:
        - name: eventStartDate
          in: query
          required: true
          description: 행사 시작일, YYYYMMDD
          schema:
            type: string
            pattern: "^\\d{8}$"
          example: "20260701"
        - name: eventEndDate
          in: query
          required: false
          description: 행사 종료일, YYYYMMDD
          schema:
            type: string
            pattern: "^\\d{8}$"
          example: "20260731"
        - name: page
          in: query
          required: false
          description: 페이지 번호
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: size
          in: query
          required: false
          description: 한 페이지 결과 수
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: districtCode
          in: query
          required: false
          description: "부산 법정동 시군구 코드: 110 중구, 140 서구, 170 동구, 200 영도구, 230 부산진구, 260 동래구, 290 남구, 320 북구, 350 해운대구, 380 사하구, 410 금정구, 440 강서구, 470 연제구, 500 수영구, 530 사상구, 710 기장군"
          schema:
            type: string
            enum:
              - "110"
              - "140"
              - "170"
              - "200"
              - "230"
              - "260"
              - "290"
              - "320"
              - "350"
              - "380"
              - "410"
              - "440"
              - "470"
              - "500"
              - "530"
              - "710"
          example: "350"
        - name: arrange
          in: query
          required: false
          description: "정렬 구분: A 제목순, C 수정일순, D 생성일순, O 대표이미지 있는 제목순, Q 대표이미지 있는 수정일순, R 대표이미지 있는 생성일순"
          schema:
            type: string
            enum:
              - A
              - C
              - D
              - O
              - Q
              - R
            default: C
          example: C
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FestivalSearchResponse"
  /api/v1/places/{contentId}/detail:
    get:
      tags:
        - Place
      summary: 장소 상세 정보 조회
      description: |
        한국관광공사 상세소개(detailIntro2)를 조회한 뒤, 콘텐츠 타입별 상세 필드를 반환합니다.
        공공데이터 serviceKey, MobileOS, MobileApp, _type 값은 백엔드에서 관리합니다.
        contentTypeId에 따라 응답 필드가 달라지므로 빈 값과 식별자 필드를 제외한 상세 값을 details 객체로 제공합니다.
        googleSearchText를 전달하면 해당 텍스트를 우선 사용해 Google Places 리뷰, 평점, 가격대, 운영시간을 조회합니다.
        googleSearchText가 없으면 관광공사 detailCommon2의 제목/주소를 fallback으로 사용합니다.
      parameters:
        - name: contentId
          in: path
          required: true
          description: 한국관광공사 콘텐츠 ID
          schema:
            type: string
          example: "2651318"
        - name: contentTypeId
          in: query
          required: true
          description: "관광타입 ID: 12 관광지, 14 문화시설, 15 축제공연행사, 25 여행코스, 28 레포츠, 32 숙박, 38 쇼핑, 39 음식점"
          schema:
            type: string
            enum:
              - "12"
              - "14"
              - "15"
              - "25"
              - "28"
              - "32"
              - "38"
              - "39"
          example: "32"
        - name: googleSearchText
          in: query
          required: false
          description: Google Places 검색에 사용할 장소명 또는 장소명+주소 텍스트입니다. 값이 있으면 관광공사 detailCommon2 조회 없이 이 텍스트로 Google 장소를 찾습니다.
          schema:
            type: string
          example: 파라다이스 호텔 부산
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceDetailResponse"
  /api/v1/users/signup:
    post:
      tags:
        - User
      summary: 사용자 회원가입
      description: 인증된 B-TING opaque token을 확인한 뒤 이메일과 닉네임으로 사용자를 생성합니다.
      security:
        - opaqueToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
            example:
              email: test@example.com
              nickname: 테스터
              provider: google
              providerId: google-123
              firstName: 길동
              lastName: 홍
      responses:
        "201":
          description: Created
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/users/me:
    get:
      tags:
        - User
      summary: 내 프로필 조회
      description: 로그인한 사용자의 프로필과 회원 정보를 조회합니다.
      security:
        - opaqueToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MyProfileResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    patch:
      tags:
        - User
      summary: 내 회원 정보 수정
      description: 로그인한 사용자의 닉네임, 프로필 이미지, 이름 정보를 수정합니다.
      security:
        - opaqueToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMyProfileRequest"
            example:
              nickname: 수정닉
              profileImageUrl: https://example.com/profile.png
              firstName: 길동
              lastName: 홍
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MyProfileResponse"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    delete:
      tags:
        - User
      summary: 회원 탈퇴
      description: 로그인한 사용자의 토큰과 회원 정보를 삭제합니다.
      security:
        - opaqueToken: []
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/users/signin:
    get:
      tags:
        - User
      summary: 사용자 이메일 조회
      description: 이메일로 사용자 정보를 조회합니다. OAuth2 완료 전 임시 로그인/조회 API입니다.
      parameters:
        - name: email
          in: query
          required: true
          description: 조회할 사용자 이메일
          schema:
            type: string
            format: email
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/travel-surveys:
    put:
      tags:
        - TravelSurvey
      summary: 여행 성향 설문 저장/수정
      description: |
        로그인한 사용자의 여행 성향 설문을 저장하거나 수정합니다.
        `skippedAll`이 `true`이면 성향 Boolean 값은 서버에서 모두 `null`로 처리됩니다.
      security:
        - opaqueToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TravelSurveyProfileRequest"
            example:
              preferredLanguage: ko
              isPlanned: true
              isRelaxed: false
              isSolo: true
              isLight: true
              isFamiliar: false
              purposes:
                - food
                - scenery
              skippedSteps:
                - 2
              skippedAll: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelSurveyProfileResponse"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    get:
      tags:
        - TravelSurvey
      summary: 여행 성향 설문 조회
      description: 로그인한 사용자의 여행 성향 설문 데이터를 조회합니다.
      security:
        - opaqueToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelSurveyProfileResponse"
        "400":
          description: Survey profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/chat/rooms/zone:
    get:
      tags:
        - Chat
      summary: 권역별 오픈채팅방 목록 조회
      description: 선택한 행정 권역(ChatZone)에 개설되어 있는 오픈채팅방 리스트를 조회합니다.
      parameters:
        - name: zone
          in: query
          required: true
          description: 조회할 부산 지역 권역 코드 (이넘값)
          schema:
            type: string
            enum:
              - SUYEONG_NAMGU
              - HAEUNDAE_GIJANG
              - YEONGDO
              - CENTRAL_NORTH
              - OLD_DOWNTOWN
              - WESTERN_BUSAN
            example: SUYEONG_NAMGU
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LocalChatroomResponse"
        "400":
          description: Validation failed (권역 정보 누락 등)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/chat/rooms/{roomId}/join:
    post:
      tags:
        - Chat
      summary: 특정 오픈채팅방 가입하기
      description: 특정 오픈채팅방을 가입하기, 방인원수는 1증가
      security:
        - opaqueToken: []
      parameters:
        - name: roomId
          in: path
          required: true
          description: 가입할 채팅방 UUID
          schema:
            type: string
            format: uuid
            example: cf7cabe7-68ef-4296-a33c-9a912d708734
      responses:
        "200":
          description: 채팅방 가입 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "채팅방 가입 완료"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/chat/rooms/{roomId}/exit:
    post:
      tags:
        - Chat
      summary: 특정 오픈채팅방 퇴장 (나가기)
      description: 참여 중이던 오픈채팅방에서 나갑니다. 매핑 데이터는 Hard Delete되며, 방 인원수가 1 차감됩니다.
      security:
        - opaqueToken: []
      parameters:
        - name: roomId
          in: path
          required: true
          description: 퇴장할 채팅방 UUID
          schema:
            type: string
            format: uuid
            example: cf7cabe7-68ef-4296-a33c-9a912d708734
      responses:
        "200":
          description: 채팅방 퇴장 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "채팅방 퇴장이 완료되었습니다."
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/chat/rooms/{roomId}/messages:
    get:
      tags:
        - Chat
      summary: 채팅방 과거 대화 내역 조회 (커서 기반 페이징)
      description: |
        사용자가 오픈채팅방에 진입하거나 스크롤을 위로 올려 과거 내역을 더 불러올 때 호출합니다.

        - **첫 진입 시**: `lastMessageId`를 비우고 요청하면 가장 최신 메시지 100개를 과거->최신(오름차순) 순으로 정렬하여 반환합니다.
        - **더보기 요청 시**: 현재 클라이언트가 가진 메시지 중 가장 오래된 메시지의 `UUID`를 `lastMessageId`로 실어서 보내면, 해당 메시지 이전의 대화 내역 100개를 반환합니다.
      security:
        - opaqueToken: [ ]
      parameters:
        - name: roomId
          in: path
          required: true
          description: 내역을 조회할 채팅방 UUID
          schema:
            type: string
            format: uuid
            example: cf7cabe7-68ef-4296-a33c-9a912d708734
        - name: lastMessageId
          in: query
          required: false
          description: |
            더보기 페이징용 커서 ID. 
            현재 화면에 보이는 가장 오래된(상단) 메시지의 messageId를 전달합니다. (첫 진입 시 생략)
          schema:
            type: string
            format: uuid
            example: 52a58863-2360-4950-862f-2ba410a9d422
      responses:
        "200":
          description: 과거 대화 내역 조회 성공 (최대 100건, 과거 -> 최신순 정렬 배열)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ChatMessageResponse"
        "400":
          description: 존재하지 않는 방 ID, 존재하지 않는 기준 메시지 ID(커서)이거나 잘못된 요청
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Unauthorized (만료되거나 누락된 Opaque 토큰)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /websocket-guide/connect:
    get:
      tags:
        - ⚡ 실시간 채팅 (WebSocket STOMP 가이드)
      summary: "[1] 웹소켓 연결 및 인증 가이드"
      description: |
        ### ▶ **Connection URL**
        `ws://localhost:8080/ws-stomp`

        ### ▶ **연결 시 필수 헤더(Headers)**
        - `Authorization`: `Bearer {Opaque_Token}`

        ※ STOMP `CONNECT` 프레임 요청 시 헤더에 토큰을 실어 보내야 인증이 완료됩니다.
      responses:
        "200":
          description: OK

  /websocket-guide/send:
    post:
      tags:
        - ⚡ 실시간 채팅 (WebSocket STOMP 가이드)
      summary: "[2] 채팅 메시지 발행 (SEND)"
      description: |
        ### ▶ **발행(Destination) 채널**
        `/pub/chat/message`

        ### ▶ **보낼 JSON 본문 (Payload)**
        ```json
        {
          "roomId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "content": "안녕하세요! 반갑습니다."
        }
        ```
      responses:
        "200":
          description: OK

  /websocket-guide/subscribe:
    get:
      tags:
        - ⚡ 실시간 채팅 (WebSocket STOMP 가이드)
      summary: "[3] 채팅방 메시지 구독 (SUBSCRIBE)"
      description: |
        ### ▶ **구독(Destination) 채널**
        `/sub/chat/room/{roomId}`

        ### ▶ **수신하게 될 실시간 JSON 데이터 형식**
        ```json
        {
          "messageId": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
          "roomId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "userId": "7b8c9d0e-1f2a-3b4c-5d6e-7f8a9b0c1d2e",
          "senderNickname": "수영구보안관",
          "content": "안녕하세요! 반갑습니다.",
          "createdAt": "2026-07-03T15:10:12.793+09:00"
        }
        ```
      responses:
        "200":
          description: OK

  /websocket-guide/subscribe-status:
    get:
      tags:
        - ⚡ 실시간 채팅 (WebSocket STOMP 가이드)
      summary: "[4] 실시간 인원수 상태 구독 (SUBSCRIBE)"
      description: |
        ### ▶ **구독(Destination) 채널**
        `/sub/chat/room/{roomId}/status`

        ### ▶ **동작 가이드**
        유튜브 라이브 스트리밍 방식으로 동작하므로, 사용자가 해당 채널을 **구독(SUBSCRIBE)하는 순간 실시간 인원수가 1 증가**하고, **브라우저 종료나 앱 강제 종료(DISCONNECT) 시 인원수가 자동으로 1 감소**합니다.

        채팅방 진입 시 `[3]번 메시지 채널`과 `[4]번 상태 채널`을 **동시에 구독**해야 실시간 인원 갱신이 화면에 새로고침 없이 반영됩니다.

        ### ▶ **수신하게 될 실시간 JSON 데이터 형식**
        ```json
        {
          "roomId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "currentMembers": 15
        }
        ```
      responses:
        "200":
          description: OK
components:
  securitySchemes:
    opaqueToken:
      type: http
      scheme: bearer
      bearerFormat: opaque
  schemas:
    OAuthLoginRequest:
      type: object
      required:
        - provider
        - providerToken
      properties:
        provider:
          type: string
          description: 클라이언트 SSO provider
          enum:
            - google
            - naver
            - kakao
          example: google
        providerToken:
          type: string
          description: 웹은 Google/Naver/Kakao authorization code를 전달합니다. 앱은 Google/Kakao id_token을 전달할 수 있습니다. Kakao 앱 id_token은 백엔드가 Kakao tokeninfo API로 1차 검증한 뒤 aud가 등록된 client id와 일치하는지 확인해 인증 처리합니다. Naver처럼 state가 필요한 경우 code와 state를 query string 형식으로 전달할 수 있습니다.
          example: GOOGLE_AUTHORIZATION_CODE
        redirectUri:
          type: string
          format: uri
          description: Authorization code 발급 시 사용한 redirect_uri입니다. id_token 로그인에서는 생략합니다.
          example: http://localhost:8080/login/oauth2/code/google
        codeVerifier:
          type: string
          description: PKCE authorization code flow에서 사용한 code_verifier입니다. id_token 로그인에서는 생략합니다.
          example: GOOGLE_CODE_VERIFIER
    PlaceSearchResponse:
      type: object
      properties:
        page:
          type: integer
          example: 1
        size:
          type: integer
          example: 20
        totalCount:
          type: integer
          example: 120
        places:
          type: array
          items:
            $ref: "#/components/schemas/Place"
    FestivalSearchResponse:
      type: object
      properties:
        eventStartDate:
          type: string
          description: 요청한 행사 시작일, YYYYMMDD
          example: "20260701"
        eventEndDate:
          type: string
          nullable: true
          description: 요청한 행사 종료일, YYYYMMDD
          example: "20260731"
        page:
          type: integer
          example: 1
        size:
          type: integer
          example: 20
        totalCount:
          type: integer
          example: 5
        festivals:
          type: array
          items:
            $ref: "#/components/schemas/Festival"
    PlaceDetailResponse:
      type: object
      properties:
        contentId:
          type: string
          description: 한국관광공사 콘텐츠 ID
          example: "2651318"
        contentTypeId:
          type: string
          description: "관광타입 ID: 12 관광지, 14 문화시설, 15 축제공연행사, 25 여행코스, 28 레포츠, 32 숙박, 38 쇼핑, 39 음식점"
          example: "32"
        details:
          type: object
          description: contentTypeId별 상세소개 필드입니다. 빈 값, contentid, contenttypeid는 제외합니다.
          additionalProperties:
            type: string
          example:
            checkintime: "15:00"
            checkouttime: "11:00"
            parkinglodging: 주차 가능
            reservationurl: https://example.com
        googlePlace:
          $ref: "#/components/schemas/GooglePlaceInfo"
    GooglePlaceInfo:
      type: object
      nullable: true
      description: Google Places API에서 조회한 리뷰, 평점, 가격대, 운영시간 보강 정보입니다. Google API 키가 없거나 매칭되는 장소가 없으면 null입니다.
      properties:
        placeId:
          type: string
          example: google-place-id
        rating:
          type: number
          format: double
          description: Google 장소 평점
          example: 4.4
        reviewCount:
          type: integer
          description: Google 리뷰 개수
          example: 128
        priceLevel:
          type: string
          description: Google 가격대 코드
          example: PRICE_LEVEL_MODERATE
        openingHours:
          type: array
          description: 요일별 운영시간 설명
          items:
            type: string
          example:
            - "월요일: 오전 9:00 ~ 오후 6:00"
            - "화요일: 오전 9:00 ~ 오후 6:00"
        reviews:
          type: array
          description: Google 리뷰 목록
          items:
            $ref: "#/components/schemas/GoogleReview"
    GoogleReview:
      type: object
      properties:
        rating:
          type: integer
          example: 5
        text:
          type: string
          example: 좋았어요
        authorName:
          type: string
          example: 리뷰어
        relativePublishTimeDescription:
          type: string
          example: 1개월 전
        publishTime:
          type: string
          format: date-time
          example: 2026-06-01T00:00:00Z
    Place:
      type: object
      properties:
        contentId:
          type: string
          description: 한국관광공사 콘텐츠 ID
          example: "2869277"
        contentTypeId:
          type: string
          description: "관광타입 ID: 12 관광지, 14 문화시설, 15 축제공연행사, 25 여행코스, 28 레포츠, 32 숙박, 38 쇼핑, 39 음식점"
          example: "39"
        title:
          type: string
          example: 오플로우
        address:
          type: string
          example: 부산광역시 강서구 가락대로 1206 (봉림동)
        imageUrl:
          type: string
          example: https://tong.visitkorea.or.kr/cms/resource/70/2869270_image2_1.jpg
        thumbnailUrl:
          type: string
          example: https://tong.visitkorea.or.kr/cms/resource/70/2869270_image3_1.jpg
        longitude:
          type: number
          format: double
          example: 128.9010323937
        latitude:
          type: number
          format: double
          example: 35.1724954738
        regionCode:
          type: string
          description: 법정동 시도 코드
          example: "26"
        districtCode:
          type: string
          description: 법정동 시군구 코드
          example: "440"
    Festival:
      type: object
      properties:
        contentId:
          type: string
          description: 한국관광공사 콘텐츠 ID
          example: "3000001"
        contentTypeId:
          type: string
          description: 행사 관광타입 ID
          example: "15"
        title:
          type: string
          example: 부산바다축제
        address:
          type: string
          example: 부산광역시 해운대구
        imageUrl:
          type: string
          example: https://example.com/festival.jpg
        thumbnailUrl:
          type: string
          example: https://example.com/festival-thumb.jpg
        longitude:
          type: number
          format: double
          example: 129.16
        latitude:
          type: number
          format: double
          example: 35.163
        regionCode:
          type: string
          description: 법정동 시도 코드
          example: "26"
        districtCode:
          type: string
          description: 법정동 시군구 코드
          example: "350"
        eventStartDate:
          type: string
          description: 행사 시작일, YYYYMMDD
          example: "20260601"
        eventEndDate:
          type: string
          description: 행사 종료일, YYYYMMDD
          example: "20260710"
    SignUpRequest:
      type: object
      required:
        - email
        - nickname
      properties:
        email:
          type: string
          format: email
          example: test@example.com
        nickname:
          type: string
          example: 테스터
        provider:
          type: string
          example: google
        providerId:
          type: string
          example: google-123
        firstName:
          type: string
          example: 길동
        lastName:
          type: string
          example: 홍
    UpdateMyProfileRequest:
      type: object
      properties:
        nickname:
          type: string
          maxLength: 50
          example: 수정닉
        profileImageUrl:
          type: string
          maxLength: 500
          example: https://example.com/profile.png
        firstName:
          type: string
          maxLength: 50
          example: 길동
        lastName:
          type: string
          maxLength: 20
          example: 홍
    MyProfileResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          example: test@example.com
        nickname:
          type: string
          example: 테스터
        profileImageUrl:
          type: string
          example: https://example.com/profile.png
        provider:
          type: string
          example: google
        firstName:
          type: string
          example: 길동
        lastName:
          type: string
          example: 홍
    UserResponse:
      type: object
      properties:
        email:
          type: string
          format: email
          example: test@example.com
        nickname:
          type: string
          example: 테스터
    TravelSurveyProfileRequest:
      type: object
      properties:
        preferredLanguage:
          type: string
          maxLength: 5
          default: ko
          example: ko
        isPlanned:
          type: boolean
          nullable: true
          description: "true: 계획적, false: 즉흥적"
          example: true
        isRelaxed:
          type: boolean
          nullable: true
          description: "true: 여유롭게, false: 빡빡하게"
          example: false
        isSolo:
          type: boolean
          nullable: true
          description: "true: 혼자 여행 선호, false: 동행 여행 선호"
          example: true
        isLight:
          type: boolean
          nullable: true
          description: "true: 가볍게, false: 많이 챙김"
          example: true
        isFamiliar:
          type: boolean
          nullable: true
          description: "true: 부산을 아는 편, false: 잘 모름"
          example: false
        purposes:
          type: array
          description: 여행 목적. PostgreSQL `varchar(30)[]`로 저장됩니다.
          items:
            type: string
            maxLength: 30
          example:
            - food
            - scenery
        skippedSteps:
          type: array
          description: 스킵한 설문 단계. PostgreSQL `integer[]`로 저장됩니다.
          items:
            type: integer
          example:
            - 2
        skippedAll:
          type: boolean
          default: false
          example: false
    TravelSurveyProfileResponse:
      allOf:
        - $ref: "#/components/schemas/TravelSurveyProfileRequest"
        - type: object
          properties:
            completedAt:
              type: string
              format: date-time
              nullable: true
              example: "2026-06-25T13:14:33"
            aiPromptContext:
              type: string
              nullable: true
              example: preferred_language=ko; purposes=food,scenery; planned=true; relaxed=false; solo=true; light=true; familiar=false
    ApiErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Email is required.
        data:
          nullable: true
    OAuth2LoginResponseEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: OAuth2 login succeeded.
        data:
          $ref: "#/components/schemas/OAuth2LoginResponse"
    OAuth2LoginResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
          format: email
          description: OAuth provider가 제공한 사용자 이메일입니다. OAuth 로그인에서 필수입니다.
        nickname:
          type: string
        provider:
          type: string
          example: google
        loggedIn:
          type: boolean
          example: true
        emailRequired:
          type: boolean
          description: 이메일 추가 입력 필요 여부입니다. OAuth 로그인에서는 provider 이메일 제공이 필수이므로 항상 false입니다.
          example: false
        accessToken:
          type: string
          description: Opaque access token. Store securely on the client and send it as a Bearer token.
        tokenType:
          type: string
          example: Bearer
        expiresIn:
          type: integer
          format: int64
          example: 3600
    LocalChatroomResponse:
      type: object
      properties:
        roomId:
          type: string
          format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        title:
          type: string
          example: "수영구/남구 친목 채팅방"
        description:
          type: string
          nullable: true
          example: "수영구와 남구 주민들을 위한 소통 공간입니다."
        chatZone:
          type: string
          enum:
            - SUYEONG_NAMGU
            - HAEUNDAE_GIJANG
            - JUNG_YEONGDO
          example: SUYEONG_NAMGU
        maxMembers:
          type: integer
          example: 100
        currentMembers:
          type: integer
          example: 14
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-30T10:47:06Z"
    ChatMessageResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: 메시지 고유 식별자 ID (uuid)
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa3
        roomId:
          type: string
          format: uuid
          description: 채팅방 고유 UUID
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        userId:
          type: string
          format: uuid
          description: 메시지를 보낸 유저 고유 UUID
          example: d1234567-89ab-cdef-0123-456789abcdef
        senderNickname:
          type: string
          description: 보낸 유저의 닉네임
          example: "광안리보이"
        content:
          type: string
          description: 채팅 메시지 본문 내용
          example: "안녕하세요! 지난 대화들 확인하고 들어왔습니다."
        createdAt:
          type: string
          format: date-time
          description: 메시지 생성 일시 (ISO 8601 포맷)
          example: "2026-07-01T23:15:00Z"
