openapi: 3.0.3
info:
  title: B-ting Backend API
  description: B-ting backend API documentation.
  version: 0.0.1-SNAPSHOT
servers:
  - url: https://api.buting.store
    description: Production server
  - url: http://localhost:8080
    description: Local development server
tags:
  - name: Auth
    description: Authentication APIs
  - name: User
    description: User APIs
  - name: Place
    description: Place search APIs
  - name: TravelSurvey
    description: Travel survey profile APIs
  - name: Travel
    description: 여행 생성 및 일정 관리 API
  - name: TravelTeam
    description: 여행 초대 및 멤버 관리 API
  - name: TravelExpense
    description: 여행 가계부 경비, 요약, 정산 API
  - name: Chat
    description: Chat APIs
  - name: WebSocket STOMP
    description: 웹소켓 연결 및 실시간 메시지 송수신 명세 가이드 (REST API가 아님)

paths:
  /api/v1/auth/oauth/login:
    post:
      tags:
        - Auth
      summary: 클라이언트 SSO 로그인
      description: |
        웹 클라이언트는 Google/Naver/Kakao SSO 로그인 후 받은 authorization code를 백엔드로 전달합니다.
        앱 클라이언트는 SDK에서 받은 Google/Kakao id_token을 providerToken으로 전달할 수 있습니다.
        백엔드는 authorization code를 각 provider token endpoint에서 교환하거나, id_token JWT 클레임의 audience(aud), issuer(iss), expiration(exp)을 검증합니다.
        Kakao 앱 id_token은 Kakao tokeninfo API로 1차 검증한 뒤, 백엔드에 등록된 client id와 aud가 일치하는 경우에만 인증 처리합니다.

        백엔드는 provider token을 검증하고, 기존 회원 조회/연결 또는 신규 회원 생성을 수행한 뒤 B-TING 전용 opaque access token을 발급합니다.
        Swagger 상단 Authorize로 기존 B-TING opaque token을 인증해두면, 같은 사용자이고 만료 전인 경우 기존 토큰을 재사용합니다.
        기존 토큰이 없거나 만료/폐기/다른 사용자 토큰이면 새 opaque token을 발급합니다.
      security:
        - opaqueToken: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuthLoginRequest"
            examples:
              googleCode:
                summary: Google PKCE authorization code 로그인
                value:
                  provider: google
                  providerToken: GOOGLE_AUTHORIZATION_CODE
                  redirectUri: http://localhost:8080/login/oauth2/code/google
                  codeVerifier: GOOGLE_CODE_VERIFIER
              googleAppIdToken:
                summary: Google 앱 id_token 로그인
                value:
                  provider: google
                  providerToken: GOOGLE_APP_ID_TOKEN
              naverCode:
                summary: Naver PKCE authorization code 로그인
                value:
                  provider: naver
                  providerToken: code=NAVER_AUTHORIZATION_CODE&state=NAVER_STATE
                  redirectUri: http://localhost:8080/login/oauth2/code/naver
                  codeVerifier: NAVER_CODE_VERIFIER
              kakaoCode:
                summary: Kakao PKCE authorization code 로그인
                value:
                  provider: kakao
                  providerToken: KAKAO_AUTHORIZATION_CODE
                  redirectUri: http://localhost:8080/login/oauth2/code/kakao
                  codeVerifier: KAKAO_CODE_VERIFIER
              kakaoAppIdToken:
                summary: Kakao 앱 id_token 로그인
                value:
                  provider: kakao
                  providerToken: KAKAO_APP_ID_TOKEN
      responses:
        "200":
          description: OAuth login succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuth2LoginResponseEnvelope"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Provider token verification failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/places:
    get:
      tags:
        - Place
      summary: 장소 목록 조회
      description: |
        한국관광공사 지역기반 관광정보(areaBasedList2)를 조회한 뒤, 프론트에서 필요한 장소 표시용 필드만 반환합니다.
        부산 법정동 시도 코드 `26`은 백엔드에서 고정으로 사용합니다.
        공공데이터 serviceKey, MobileOS, MobileApp, _type 값은 백엔드에서 관리합니다.
      parameters:
        - name: page
          in: query
          required: false
          description: 페이지 번호
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: size
          in: query
          required: false
          description: 한 페이지 결과 수
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: districtCode
          in: query
          required: false
          description: "부산 법정동 시군구 코드: 110 중구, 140 서구, 170 동구, 200 영도구, 230 부산진구, 260 동래구, 290 남구, 320 북구, 350 해운대구, 380 사하구, 410 금정구, 440 강서구, 470 연제구, 500 수영구, 530 사상구, 710 기장군"
          schema:
            type: string
            enum:
              - "110"
              - "140"
              - "170"
              - "200"
              - "230"
              - "260"
              - "290"
              - "320"
              - "350"
              - "380"
              - "410"
              - "440"
              - "470"
              - "500"
              - "530"
              - "710"
          example: "440"
        - name: contentTypeId
          in: query
          required: false
          description: "관광타입 ID: 12 관광지, 14 문화시설, 15 축제공연행사, 25 여행코스, 28 레포츠, 32 숙박, 38 쇼핑, 39 음식점"
          schema:
            type: string
            enum:
              - "12"
              - "14"
              - "15"
              - "25"
              - "28"
              - "32"
              - "38"
              - "39"
          example: "39"
        - name: arrange
          in: query
          required: false
          description: "정렬 구분: A 제목순, C 수정일순, D 생성일순, O 대표이미지 있는 제목순, Q 대표이미지 있는 수정일순, R 대표이미지 있는 생성일순"
          schema:
            type: string
            enum:
              - A
              - C
              - D
              - O
              - Q
              - R
            default: C
          example: C
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceSearchResponse"
  /api/v1/places/location:
    get:
      tags:
        - Place
      summary: 위치 기반 장소 목록 조회
      description: |
        한국관광공사 위치기반 관광정보(locationBasedList2)를 조회한 뒤, 프론트에서 필요한 장소 표시용 필드만 반환합니다.
        공공데이터 serviceKey, MobileOS, MobileApp, _type 값은 백엔드에서 관리합니다.
        mapX/mapY는 WGS84 경도/위도 좌표이며, radius는 meter 단위이고 최대 20,000m입니다.
      parameters:
        - name: page
          in: query
          required: false
          description: 페이지 번호
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: size
          in: query
          required: false
          description: 한 페이지 결과 수
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: mapX
          in: query
          required: true
          description: GPS X좌표, WGS84 경도 좌표
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          example: 129.160
        - name: mapY
          in: query
          required: true
          description: GPS Y좌표, WGS84 위도 좌표
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          example: 35.163
        - name: radius
          in: query
          required: true
          description: 거리 반경, meter 단위, 최대 20,000m
          schema:
            type: integer
            minimum: 1
            maximum: 20000
          example: 1000
        - name: contentTypeId
          in: query
          required: false
          description: "관광타입 ID: 12 관광지, 14 문화시설, 15 축제공연행사, 25 여행코스, 28 레포츠, 32 숙박, 38 쇼핑, 39 음식점"
          schema:
            type: string
            enum:
              - "12"
              - "14"
              - "15"
              - "25"
              - "28"
              - "32"
              - "38"
              - "39"
          example: "32"
        - name: arrange
          in: query
          required: false
          description: "정렬 구분: A 제목순, C 수정일순, D 생성일순, E 거리순, O 대표이미지 있는 제목순, Q 대표이미지 있는 수정일순, R 대표이미지 있는 생성일순, S 대표이미지 있는 거리순"
          schema:
            type: string
            enum:
              - A
              - C
              - D
              - E
              - O
              - Q
              - R
              - S
            default: E
          example: E
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceSearchResponse"
  /api/v1/places/festivals:
    get:
      tags:
        - Place
      summary: 행사 정보 목록 조회
      description: |
        한국관광공사 행사정보(searchFestival2)를 조회한 뒤, 요청한 행사 시작일/종료일 기준의 행사 목록을 반환합니다.
        부산 법정동 시도 코드 `26`은 백엔드에서 고정으로 사용합니다.
        eventStartDate는 공공데이터 필수값이며, eventEndDate는 선택값입니다.
      parameters:
        - name: eventStartDate
          in: query
          required: true
          description: 행사 시작일, YYYYMMDD
          schema:
            type: string
            pattern: "^\\d{8}$"
          example: "20260701"
        - name: eventEndDate
          in: query
          required: false
          description: 행사 종료일, YYYYMMDD
          schema:
            type: string
            pattern: "^\\d{8}$"
          example: "20260731"
        - name: page
          in: query
          required: false
          description: 페이지 번호
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: size
          in: query
          required: false
          description: 한 페이지 결과 수
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: districtCode
          in: query
          required: false
          description: "부산 법정동 시군구 코드: 110 중구, 140 서구, 170 동구, 200 영도구, 230 부산진구, 260 동래구, 290 남구, 320 북구, 350 해운대구, 380 사하구, 410 금정구, 440 강서구, 470 연제구, 500 수영구, 530 사상구, 710 기장군"
          schema:
            type: string
            enum:
              - "110"
              - "140"
              - "170"
              - "200"
              - "230"
              - "260"
              - "290"
              - "320"
              - "350"
              - "380"
              - "410"
              - "440"
              - "470"
              - "500"
              - "530"
              - "710"
          example: "350"
        - name: arrange
          in: query
          required: false
          description: "정렬 구분: A 제목순, C 수정일순, D 생성일순, O 대표이미지 있는 제목순, Q 대표이미지 있는 수정일순, R 대표이미지 있는 생성일순"
          schema:
            type: string
            enum:
              - A
              - C
              - D
              - O
              - Q
              - R
            default: C
          example: C
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FestivalSearchResponse"
  /api/v1/places/{contentId}/detail:
    get:
      tags:
        - Place
      summary: 장소 상세 정보 조회
      description: |
        한국관광공사 상세소개(detailIntro2)를 조회한 뒤, 콘텐츠 타입별 상세 필드를 반환합니다.
        공공데이터 serviceKey, MobileOS, MobileApp, _type 값은 백엔드에서 관리합니다.
        contentTypeId에 따라 응답 필드가 달라지므로 빈 값과 식별자 필드를 제외한 상세 값을 details 객체로 제공합니다.
        googleSearchText를 전달하면 해당 텍스트를 우선 사용해 Google Places 리뷰, 평점, 가격대, 운영시간을 조회합니다.
        googleSearchText가 없으면 관광공사 detailCommon2의 제목/주소를 fallback으로 사용합니다.
      parameters:
        - name: contentId
          in: path
          required: true
          description: 한국관광공사 콘텐츠 ID
          schema:
            type: string
          example: "2651318"
        - name: contentTypeId
          in: query
          required: true
          description: "관광타입 ID: 12 관광지, 14 문화시설, 15 축제공연행사, 25 여행코스, 28 레포츠, 32 숙박, 38 쇼핑, 39 음식점"
          schema:
            type: string
            enum:
              - "12"
              - "14"
              - "15"
              - "25"
              - "28"
              - "32"
              - "38"
              - "39"
          example: "32"
        - name: googleSearchText
          in: query
          required: false
          description: Google Places 검색에 사용할 장소명 또는 장소명+주소 텍스트입니다. 값이 있으면 관광공사 detailCommon2 조회 없이 이 텍스트로 Google 장소를 찾습니다.
          schema:
            type: string
          example: 파라다이스 호텔 부산
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceDetailResponse"
  /api/v1/users/signup:
    post:
      tags:
        - User
      summary: 사용자 회원가입
      description: 인증된 B-TING opaque token을 확인한 뒤 이메일과 닉네임으로 사용자를 생성합니다.
      security:
        - opaqueToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
            example:
              email: test@example.com
              nickname: 테스터
              provider: google
              providerId: google-123
              firstName: 길동
              lastName: 홍
      responses:
        "201":
          description: Created
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/users/me:
    get:
      tags:
        - User
      summary: 내 프로필 조회
      description: 로그인한 사용자의 프로필과 회원 정보를 조회합니다.
      security:
        - opaqueToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MyProfileResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    patch:
      tags:
        - User
      summary: 내 회원 정보 수정
      description: 로그인한 사용자의 닉네임, 프로필 이미지, 이름 정보를 수정합니다.
      security:
        - opaqueToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMyProfileRequest"
            example:
              nickname: 수정닉
              profileImageUrl: https://example.com/profile.png
              firstName: 길동
              lastName: 홍
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MyProfileResponse"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    delete:
      tags:
        - User
      summary: 회원 탈퇴
      description: 로그인한 사용자의 토큰과 회원 정보를 삭제합니다.
      security:
        - opaqueToken: []
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/users/signin:
    get:
      tags:
        - User
      summary: 사용자 이메일 조회
      description: 이메일로 사용자 정보를 조회합니다. OAuth2 완료 전 임시 로그인/조회 API입니다.
      parameters:
        - name: email
          in: query
          required: true
          description: 조회할 사용자 이메일
          schema:
            type: string
            format: email
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/travel-surveys:
    put:
      tags:
        - TravelSurvey
      summary: 여행 성향 설문 저장/수정
      description: |
        로그인한 사용자의 여행 성향 설문을 저장하거나 수정합니다.
        `skippedAll`이 `true`이면 성향 Boolean 값은 서버에서 모두 `null`로 처리됩니다.
      security:
        - opaqueToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TravelSurveyProfileRequest"
            example:
              preferredLanguage: ko
              isPlanned: true
              isRelaxed: false
              isSolo: true
              isLight: true
              isFamiliar: false
              purposes:
                - food
                - scenery
              skippedSteps:
                - 2
              skippedAll: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelSurveyProfileResponse"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    get:
      tags:
        - TravelSurvey
      summary: 여행 성향 설문 조회
      description: 로그인한 사용자의 여행 성향 설문 데이터를 조회합니다.
      security:
        - opaqueToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelSurveyProfileResponse"
        "400":
          description: Survey profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/chat/rooms/zone:
    get:
      tags:
        - Chat
      summary: 권역별 오픈채팅방 목록 조회
      description: 선택한 행정 권역(ChatZone)에 개설되어 있는 오픈채팅방 리스트를 조회합니다.
      parameters:
        - name: zone
          in: query
          required: true
          description: 조회할 부산 지역 권역 코드 (이넘값)
          schema:
            type: string
            enum:
              - SUYEONG_NAMGU
              - HAEUNDAE_GIJANG
              - YEONGDO
              - CENTRAL_NORTH
              - OLD_DOWNTOWN
              - WESTERN_BUSAN
            example: SUYEONG_NAMGU
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LocalChatroomResponse"
        "400":
          description: Validation failed (권역 정보 누락 등)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/chat/rooms/{roomId}/join:
    post:
      tags:
        - Chat
      summary: 특정 오픈채팅방 가입하기
      description: 특정 오픈채팅방을 가입하기, 방인원수는 1증가
      security:
        - opaqueToken: []
      parameters:
        - name: roomId
          in: path
          required: true
          description: 가입할 채팅방 UUID
          schema:
            type: string
            format: uuid
            example: cf7cabe7-68ef-4296-a33c-9a912d708734
      responses:
        "200":
          description: 채팅방 가입 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "채팅방 가입 완료"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/chat/rooms/{roomId}/exit:
    post:
      tags:
        - Chat
      summary: 특정 오픈채팅방 퇴장 (나가기)
      description: 참여 중이던 오픈채팅방에서 나갑니다. 매핑 데이터는 Hard Delete되며, 방 인원수가 1 차감됩니다.
      security:
        - opaqueToken: []
      parameters:
        - name: roomId
          in: path
          required: true
          description: 퇴장할 채팅방 UUID
          schema:
            type: string
            format: uuid
            example: cf7cabe7-68ef-4296-a33c-9a912d708734
      responses:
        "200":
          description: 채팅방 퇴장 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "채팅방 퇴장이 완료되었습니다."
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/chat/rooms/{roomId}/messages:
    get:
      tags:
        - Chat
      summary: 채팅방 과거 대화 내역 조회 (커서 기반 페이징)
      description: |
        사용자가 오픈채팅방에 진입하거나 스크롤을 위로 올려 과거 내역을 더 불러올 때 호출합니다.

        - **첫 진입 시**: `lastMessageId`를 비우고 요청하면 가장 최신 메시지 100개를 과거->최신(오름차순) 순으로 정렬하여 반환합니다.
        - **더보기 요청 시**: 현재 클라이언트가 가진 메시지 중 가장 오래된 메시지의 `UUID`를 `lastMessageId`로 실어서 보내면, 해당 메시지 이전의 대화 내역 100개를 반환합니다.
      security:
        - opaqueToken: [ ]
      parameters:
        - name: roomId
          in: path
          required: true
          description: 내역을 조회할 채팅방 UUID
          schema:
            type: string
            format: uuid
            example: cf7cabe7-68ef-4296-a33c-9a912d708734
        - name: lastMessageId
          in: query
          required: false
          description: |
            더보기 페이징용 커서 ID. 
            현재 화면에 보이는 가장 오래된(상단) 메시지의 messageId를 전달합니다. (첫 진입 시 생략)
          schema:
            type: string
            format: uuid
            example: 52a58863-2360-4950-862f-2ba410a9d422
      responses:
        "200":
          description: 과거 대화 내역 조회 성공 (최대 100건, 과거 -> 최신순 정렬 배열)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ChatMessageResponse"
        "400":
          description: 존재하지 않는 방 ID, 존재하지 않는 기준 메시지 ID(커서)이거나 잘못된 요청
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Unauthorized (만료되거나 누락된 Opaque 토큰)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travels:
    post:
      tags:
        - Travel
      summary: 여행 생성
      description: 여행을 생성하고 인증된 사용자를 방장으로 등록합니다.
      security:
        - opaqueToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TravelCreateRequest"
            example:
              title: 부산 여행
              startDate: "2026-08-01"
              endDate: "2026-08-03"
              hasHeavyBaggage: false
              hasPets: false
              travelStyle: REST
              preferFlatTerrain: true
              pace: RELAXED
              companionCount: 2
              preferredFoods: 해산물
              companionTypes: FRIEND
              accommodationArea: 해운대
      responses:
        "201":
          description: 생성 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelResponse"
        "400":
          description: 검증 실패 또는 잘못된 여행 날짜 범위
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travels/{travelId}/plans:
    get:
      tags:
        - Travel
      summary: 여행 일자별 일정 목록 조회
      description: 특정 여행의 일자별 일정과 장소 목록을 조회합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelPlansResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags:
        - Travel
      summary: 여행 일자 생성
      description: 특정 여행에 일자별 일정을 생성합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlanCreateRequest"
            example:
              dayNumber: 1
              visitDate: "2026-08-01"
      responses:
        "201":
          description: 생성 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanResponse"
        "400":
          description: 검증 실패, 중복된 일차, 또는 여행 기간 밖의 날짜
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travels/{travelId}/status:
    patch:
      tags:
        - Travel
      summary: 여행 상태 변경
      description: |
        여행 상태를 변경합니다.
        허용되는 상태 전환:
        PLANNED -> IN_PROGRESS, PLANNED -> COMPLETED,
        IN_PROGRESS -> COMPLETED,
        COMPLETED -> IN_PROGRESS.
        PLANNED로 되돌리는 것은 허용하지 않습니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TravelStatusUpdateRequest"
            example:
              status: IN_PROGRESS
      responses:
        "200":
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelResponse"
        "400":
          description: 검증 실패 또는 허용되지 않는 여행 상태 전환
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travels/{travelId}/plans/{planId}:
    delete:
      tags:
        - Travel
      summary: 여행 일자 삭제
      description: 특정 여행의 일자별 일정을 삭제합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
        - $ref: "#/components/parameters/PlanId"
      responses:
        "204":
          description: 삭제 성공
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행 또는 일정을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/plans/{planId}/places:
    get:
      tags:
        - Travel
      summary: 세부 여행지 목록 조회
      description: 특정 일자에 포함된 세부 여행지를 순서대로 조회합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/PlanId"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlanPlaceResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 일정을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags:
        - Travel
      summary: 세부 여행지 추가
      description: 특정 일자에 세부 여행지를 추가합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/PlanId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlanPlaceCreateRequest"
            example:
              sequence: 1
              placeName: 부산역
              address: 부산 동구 중앙대로 206
              latitude: 35.115
              longitude: 129.041
              provider: GOOGLE
              providerPlaceId: google-place-id
              durationMinutes: 60
              memo: 정문에서 만나기
              scheduledTime: "10:30:00"
              visited: false
      responses:
        "201":
          description: 생성 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanPlaceResponse"
        "400":
          description: 검증 실패 또는 중복된 순서
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 일정을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/plans/{planId}/places/sequence:
    patch:
      tags:
        - Travel
      summary: 세부 여행지 순서 변경
      description: 전달된 장소 ID 목록 순서대로 특정 일자의 세부 여행지 순서를 변경합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/PlanId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlanPlaceSequenceUpdateRequest"
            example:
              planPlaceIds:
                - 30000000-0000-0000-0000-000000000002
                - 30000000-0000-0000-0000-000000000001
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlanPlaceResponse"
        "400":
          description: 장소 ID 목록이 비어 있거나, 중복되었거나, 해당 일자의 전체 장소와 일치하지 않음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 일정을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/plans/places/{planPlaceId}:
    patch:
      tags:
        - Travel
      summary: 세부 여행지 일정 정보 수정
      description: 세부 여행지의 체류시간, 스케줄 시작 시간, 메모를 수정합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/PlanPlaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlanPlaceUpdateRequest"
            example:
              durationMinutes: 90
              scheduledTime: "13:30:00"
              memo: 점심 예약
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanPlaceResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 세부 여행지를 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    delete:
      tags:
        - Travel
      summary: 세부 여행지 삭제
      description: 세부 여행지를 삭제하고 이후 장소의 순서를 하나씩 앞으로 당깁니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/PlanPlaceId"
      responses:
        "204":
          description: 삭제 성공
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 세부 여행지를 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/plans/places/{planPlaceId}/place:
    patch:
      tags:
        - Travel
      summary: 세부 여행지 장소 변경
      description: 세부 여행지가 가리키는 실제 장소 정보를 교체합니다. 같은 일자의 기존 이동 경로 정보는 추후 재계산을 위해 초기화됩니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/PlanPlaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlanPlaceUpdatePlaceRequest"
            example:
              placeName: 광안리
              address: 부산 수영구
              latitude: 35.153
              longitude: 129.118
              provider: KAKAO
              providerPlaceId: kakao-gwangalli-id
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanPlaceResponse"
        "400":
          description: 검증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 세부 여행지를 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travel/team/my-travels:
    get:
      tags:
        - TravelTeam
      summary: 내가 참여 중인 여행 목록 조회
      description: 인증된 사용자가 참여 중인 여행 목록을 조회합니다. status를 전달하면 진행중 또는 완료 여행만 조회할 수 있습니다.
      security:
        - opaqueToken: []
      parameters:
        - name: status
          in: query
          required: false
          description: 조회할 여행 상태. 진행중은 IN_PROGRESS, 완료는 COMPLETED를 사용합니다.
          schema:
            $ref: "#/components/schemas/TravelStatus"
          example: IN_PROGRESS
      responses:
        "200":
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MyTravelListEnvelope"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travel/team/{travelId}/members:
    get:
      tags:
        - TravelTeam
      summary: 여행 멤버 목록 조회
      description: 특정 여행에 참여 중인 멤버 목록을 조회합니다. 해당 여행의 멤버만 조회할 수 있습니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      responses:
        "200":
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelMemberListEnvelope"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "400":
          description: 여행을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travel/team/{travelId}/leader:
    patch:
      tags:
        - TravelTeam
      summary: 여행 방장 위임
      description: 현재 방장이 같은 여행의 다른 멤버에게 방장 권한을 위임합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TravelLeaderTransferRequest"
            example:
              newLeaderUserId: 50000000-0000-0000-0000-000000000001
      responses:
        "200":
          description: 위임 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelLeaderTransferEnvelope"
        "400":
          description: 여행을 찾을 수 없거나 위임 대상이 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아니거나 방장이 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travel/team/{travelId}/members/{userId}:
    delete:
      tags:
        - TravelTeam
      summary: 여행 멤버 강퇴
      description: 여행 방장이 특정 멤버를 여행에서 내보냅니다. 방장 본인이나 다른 방장은 강퇴할 수 없습니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
        - name: userId
          in: path
          required: true
          description: 강퇴할 사용자 ID
          schema:
            type: string
            format: uuid
          example: 50000000-0000-0000-0000-000000000001
      responses:
        "200":
          description: 강퇴 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelMemberRemoveEnvelope"
        "400":
          description: 여행을 찾을 수 없거나 강퇴 대상이 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아니거나 방장이 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travel/team/invites/verify:
    get:
      tags:
        - TravelTeam
      summary: 여행 초대 토큰 검증
      description: 여행 초대 토큰을 검증하고 초대 대상 여행 정보를 반환합니다.
      parameters:
        - $ref: "#/components/parameters/InviteToken"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteVerificationEnvelope"
        "400":
          description: 유효하지 않거나 만료되었거나 이미 사용된 초대 토큰
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travel/team/{travelId}/invite:
    get:
      tags:
        - TravelTeam
      summary: 여행 초대 링크 조회
      description: 여행 방장이 현재 유효한 미사용 초대 링크를 조회합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      responses:
        "200":
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelInviteLinkInfoEnvelope"
        "400":
          description: 여행을 찾을 수 없거나 유효한 초대 링크가 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags:
        - TravelTeam
      summary: 여행 초대 링크 생성
      description: 여행 초대 링크를 생성합니다. 여행 방장만 생성할 수 있습니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelInviteLinkResponse"
        "400":
          description: 여행을 찾을 수 없거나 방장이 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    delete:
      tags:
        - TravelTeam
      summary: 여행 초대 링크 폐기
      description: 여행 방장이 해당 여행의 아직 사용되지 않은 초대 링크를 폐기합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      responses:
        "200":
          description: 폐기 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelInviteDeleteEnvelope"
        "400":
          description: 여행을 찾을 수 없거나 방장이 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travel/team/invites/accept:
    post:
      tags:
        - TravelTeam
      summary: 여행 초대 수락
      description: 여행 초대 토큰을 수락하고 인증된 사용자를 해당 여행의 멤버로 추가합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/InviteToken"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteVerificationEnvelope"
        "400":
          description: 유효하지 않은 초대 토큰 또는 이미 참여한 사용자
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/travel/team/{travelId}/members/me:
    delete:
      tags:
        - TravelTeam
      summary: 여행 나가기
      description: |
        인증된 사용자가 여행에서 나갑니다.
        MEMBER는 TravelMember 매핑만 삭제됩니다.
        LEADER는 혼자 남은 경우에만 나갈 수 있으며, 다른 멤버가 남아 있으면 방장 위임 필요 오류를 반환합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelExitEnvelope"
        "400":
          description: 여행 멤버가 아님
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: 방장 위임이 필요함
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /websocket-guide/connect:
    get:
      tags:
        - ⚡ 실시간 채팅 (WebSocket STOMP 가이드)
      summary: "[1] 웹소켓 연결 및 인증 가이드"
      description: |
        ### ▶ **Connection URL**
        `ws://localhost:8080/ws-stomp`

        ### ▶ **연결 시 필수 헤더(Headers)**
        - `Authorization`: `Bearer {Opaque_Token}`

        ※ STOMP `CONNECT` 프레임 요청 시 헤더에 토큰을 실어 보내야 인증이 완료됩니다.
      responses:
        "200":
          description: OK

  /websocket-guide/send:
    post:
      tags:
        - ⚡ 실시간 채팅 (WebSocket STOMP 가이드)
      summary: "[2] 채팅 메시지 발행 (SEND)"
      description: |
        ### ▶ **발행(Destination) 채널**
        `/pub/chat/message`

        ### ▶ **보낼 JSON 본문 (Payload)**
        ```json
        {
          "roomId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "content": "안녕하세요! 반갑습니다."
        }
        ```
      responses:
        "200":
          description: OK

  /websocket-guide/subscribe:
    get:
      tags:
        - ⚡ 실시간 채팅 (WebSocket STOMP 가이드)
      summary: "[3] 채팅방 메시지 구독 (SUBSCRIBE)"
      description: |
        ### ▶ **구독(Destination) 채널**
        `/sub/chat/room/{roomId}`

        ### ▶ **수신하게 될 실시간 JSON 데이터 형식**
        ```json
        {
          "messageId": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
          "roomId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "userId": "7b8c9d0e-1f2a-3b4c-5d6e-7f8a9b0c1d2e",
          "senderNickname": "수영구보안관",
          "content": "안녕하세요! 반갑습니다.",
          "createdAt": "2026-07-03T15:10:12.793+09:00"
        }
        ```
      responses:
        "200":
          description: OK

  /websocket-guide/subscribe-status:
    get:
      tags:
        - ⚡ 실시간 채팅 (WebSocket STOMP 가이드)
      summary: "[4] 실시간 인원수 상태 구독 (SUBSCRIBE)"
      description: |
        ### ▶ **구독(Destination) 채널**
        `/sub/chat/room/{roomId}/status`

        ### ▶ **동작 가이드**
        유튜브 라이브 스트리밍 방식으로 동작하므로, 사용자가 해당 채널을 **구독(SUBSCRIBE)하는 순간 실시간 인원수가 1 증가**하고, **브라우저 종료나 앱 강제 종료(DISCONNECT) 시 인원수가 자동으로 1 감소**합니다.

        채팅방 진입 시 `[3]번 메시지 채널`과 `[4]번 상태 채널`을 **동시에 구독**해야 실시간 인원 갱신이 화면에 새로고침 없이 반영됩니다.

        ### ▶ **수신하게 될 실시간 JSON 데이터 형식**
        ```json
        {
          "roomId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "currentMembers": 15
        }
        ```
      responses:
        "200":
          description: OK
  /api/v1/travels/{travelId}/expenses:
    get:
      tags:
        - TravelExpense
      summary: 여행 경비 목록 조회
      description: |
        여행 멤버가 여행 가계부에 등록된 경비 목록을 페이지 단위로 조회합니다.
        카테고리, 사용 일시 범위, 결제자 기준으로 필터링할 수 있습니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
        - name: category
          in: query
          required: false
          description: 조회할 경비 카테고리
          schema:
            $ref: "#/components/schemas/ExpenseCategory"
        - name: from
          in: query
          required: false
          description: 조회 시작 일시. ISO-8601 date-time 형식입니다.
          schema:
            type: string
            format: date-time
          example: "2026-08-01T00:00:00"
        - name: to
          in: query
          required: false
          description: 조회 종료 일시. ISO-8601 date-time 형식입니다.
          schema:
            type: string
            format: date-time
          example: "2026-08-03T23:59:59"
        - name: payerUserId
          in: query
          required: false
          description: 결제자 사용자 ID
          schema:
            type: string
            format: uuid
          example: 50000000-0000-0000-0000-000000000001
        - name: page
          in: query
          required: false
          description: 페이지 번호. 0부터 시작합니다.
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
        - name: size
          in: query
          required: false
          description: 페이지 크기
          schema:
            type: integer
            minimum: 1
            default: 20
          example: 20
        - name: sort
          in: query
          required: false
          description: 정렬 조건. 기본값은 spentAt,desc 입니다.
          schema:
            type: string
          example: spentAt,desc
      responses:
        "200":
          description: 여행 경비 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelExpenseListResponse"
        "401":
          description: 인증이 필요합니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아닙니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행을 찾을 수 없습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags:
        - TravelExpense
      summary: 여행 경비 등록
      description: |
        여행 멤버가 경비를 등록합니다.
        현재 등록 API는 참여자에게 금액을 균등 분할합니다.
        정산이 확정된 여행은 더 이상 경비를 등록할 수 없습니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TravelExpenseCreateRequest"
            examples:
              equalSplit:
                summary: 균등 분할 경비 등록
                value:
                  title: 광안리 저녁 식사
                  amount: 60000
                  currency: KRW
                  category: FOOD
                  payerUserId: 50000000-0000-0000-0000-000000000001
                  participantUserIds:
                    - 50000000-0000-0000-0000-000000000001
                    - 50000000-0000-0000-0000-000000000002
                    - 50000000-0000-0000-0000-000000000003
                  spentAt: "2026-08-01T19:30:00"
                  memo: 회비로 결제
      responses:
        "201":
          description: 여행 경비 등록 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelExpenseCreateResponse"
        "400":
          description: 요청 값 검증에 실패했습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증이 필요합니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아니거나 결제자/참여자가 여행 멤버가 아닙니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행을 찾을 수 없습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: 정산이 이미 확정되어 경비를 등록할 수 없습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/travels/{travelId}/expenses/summary:
    get:
      tags:
        - TravelExpense
      summary: 여행 가계부 전체 요약 조회
      description: |
        여행 멤버가 통화별 총 지출, 카테고리별 지출, 멤버별 결제/부담/잔액을 조회합니다.
        from, to를 지정하면 해당 사용 일시 범위 안의 경비만 집계합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
        - name: from
          in: query
          required: false
          description: 집계 시작 일시
          schema:
            type: string
            format: date-time
          example: "2026-08-01T00:00:00"
        - name: to
          in: query
          required: false
          description: 집계 종료 일시
          schema:
            type: string
            format: date-time
          example: "2026-08-03T23:59:59"
      responses:
        "200":
          description: 여행 가계부 요약 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelExpenseSummaryResponse"
        "401":
          description: 인증이 필요합니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아닙니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행을 찾을 수 없습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/travels/{travelId}/expenses/settlements:
    get:
      tags:
        - TravelExpense
      summary: 여행 정산 미리보기 또는 확정 결과 조회
      description: |
        여행 멤버가 현재 가계부 기준의 정산 송금 목록을 조회합니다.
        아직 정산이 확정되지 않았다면 현재 경비 기준의 미리보기 결과를 반환하고,
        이미 확정되었다면 저장된 정산 스냅샷을 반환합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      responses:
        "200":
          description: 여행 정산 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelSettlementResponse"
        "401":
          description: 인증이 필요합니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아닙니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행을 찾을 수 없습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/travels/{travelId}/expenses/settlements/confirm:
    post:
      tags:
        - TravelExpense
      summary: 여행 정산 확정
      description: |
        여행 방장이 현재 가계부 기준의 정산 결과를 확정합니다.
        확정 후에는 정산 송금 목록이 저장되고, 경비 등록/수정/삭제가 차단됩니다.
        이미 확정된 여행에 다시 요청하면 저장된 정산 결과를 반환합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
      responses:
        "200":
          description: 여행 정산 확정 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelSettlementResponse"
        "401":
          description: 인증이 필요합니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 방장이 아니거나 여행 멤버가 아닙니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행을 찾을 수 없습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/travels/{travelId}/expenses/{expenseId}:
    get:
      tags:
        - TravelExpense
      summary: 여행 경비 상세 조회
      description: 여행 멤버가 특정 경비의 결제자, 작성자, 분담자, 분담 금액을 조회합니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
        - $ref: "#/components/parameters/ExpenseId"
      responses:
        "200":
          description: 여행 경비 상세 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelExpenseDetailResponse"
        "401":
          description: 인증이 필요합니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 여행 멤버가 아닙니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행 또는 경비를 찾을 수 없습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    put:
      tags:
        - TravelExpense
      summary: 여행 경비 수정
      description: |
        경비 작성자가 경비 내용을 수정합니다.
        현재 수정 API도 참여자에게 금액을 균등 분할합니다.
        정산이 확정된 여행은 더 이상 경비를 수정할 수 없습니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
        - $ref: "#/components/parameters/ExpenseId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TravelExpenseUpdateRequest"
            examples:
              updateEqualSplit:
                summary: 균등 분할 경비 수정
                value:
                  title: 해운대 택시비
                  amount: 24000
                  currency: KRW
                  category: TRANSPORT
                  payerUserId: 50000000-0000-0000-0000-000000000002
                  participantUserIds:
                    - 50000000-0000-0000-0000-000000000001
                    - 50000000-0000-0000-0000-000000000002
                  spentAt: "2026-08-02T22:10:00"
                  memo: 숙소 복귀
      responses:
        "200":
          description: 여행 경비 수정 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelExpenseDetailResponse"
        "400":
          description: 요청 값 검증에 실패했습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: 인증이 필요합니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 경비 작성자가 아니거나 여행 멤버가 아닙니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행 또는 경비를 찾을 수 없습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: 정산이 이미 확정되어 경비를 수정할 수 없습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    delete:
      tags:
        - TravelExpense
      summary: 여행 경비 삭제
      description: |
        경비 작성자가 경비를 삭제합니다.
        정산이 확정된 여행은 더 이상 경비를 삭제할 수 없습니다.
      security:
        - opaqueToken: []
      parameters:
        - $ref: "#/components/parameters/TravelId"
        - $ref: "#/components/parameters/ExpenseId"
      responses:
        "204":
          description: 여행 경비 삭제 성공
        "401":
          description: 인증이 필요합니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: 경비 작성자가 아니거나 여행 멤버가 아닙니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: 여행 또는 경비를 찾을 수 없습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: 정산이 이미 확정되어 경비를 삭제할 수 없습니다.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

components:
  parameters:
    TravelId:
      name: travelId
      in: path
      required: true
      description: 여행 ID
      schema:
        type: string
        format: uuid
      example: 10000000-0000-0000-0000-000000000001
    PlanId:
      name: planId
      in: path
      required: true
      description: 여행 일자 ID
      schema:
        type: string
        format: uuid
      example: 20000000-0000-0000-0000-000000000001
    ExpenseId:
      name: expenseId
      in: path
      required: true
      description: 여행 경비 ID
      schema:
        type: string
        format: uuid
      example: 60000000-0000-0000-0000-000000000001
    PlanPlaceId:
      name: planPlaceId
      in: path
      required: true
      description: 세부 여행지 ID
      schema:
        type: string
        format: uuid
      example: 30000000-0000-0000-0000-000000000001
    InviteToken:
      name: token
      in: query
      required: true
      description: 여행 초대 토큰
      schema:
        type: string
      example: invite-token
  securitySchemes:
    opaqueToken:
      type: http
      scheme: bearer
      bearerFormat: opaque
  schemas:
    OAuthLoginRequest:
      type: object
      required:
        - provider
        - providerToken
      properties:
        provider:
          type: string
          description: 클라이언트 SSO provider
          enum:
            - google
            - naver
            - kakao
          example: google
        providerToken:
          type: string
          description: 웹은 Google/Naver/Kakao authorization code를 전달합니다. 앱은 Google/Kakao id_token을 전달할 수 있습니다. Kakao 앱 id_token은 백엔드가 Kakao tokeninfo API로 1차 검증한 뒤 aud가 등록된 client id와 일치하는지 확인해 인증 처리합니다. Naver처럼 state가 필요한 경우 code와 state를 query string 형식으로 전달할 수 있습니다.
          example: GOOGLE_AUTHORIZATION_CODE
        redirectUri:
          type: string
          format: uri
          description: Authorization code 발급 시 사용한 redirect_uri입니다. id_token 로그인에서는 생략합니다.
          example: http://localhost:8080/login/oauth2/code/google
        codeVerifier:
          type: string
          description: PKCE authorization code flow에서 사용한 code_verifier입니다. id_token 로그인에서는 생략합니다.
          example: GOOGLE_CODE_VERIFIER
    PlaceSearchResponse:
      type: object
      properties:
        page:
          type: integer
          example: 1
        size:
          type: integer
          example: 20
        totalCount:
          type: integer
          example: 120
        places:
          type: array
          items:
            $ref: "#/components/schemas/Place"
    FestivalSearchResponse:
      type: object
      properties:
        eventStartDate:
          type: string
          description: 요청한 행사 시작일, YYYYMMDD
          example: "20260701"
        eventEndDate:
          type: string
          nullable: true
          description: 요청한 행사 종료일, YYYYMMDD
          example: "20260731"
        page:
          type: integer
          example: 1
        size:
          type: integer
          example: 20
        totalCount:
          type: integer
          example: 5
        festivals:
          type: array
          items:
            $ref: "#/components/schemas/Festival"
    PlaceDetailResponse:
      type: object
      properties:
        contentId:
          type: string
          description: 한국관광공사 콘텐츠 ID
          example: "2651318"
        contentTypeId:
          type: string
          description: "관광타입 ID: 12 관광지, 14 문화시설, 15 축제공연행사, 25 여행코스, 28 레포츠, 32 숙박, 38 쇼핑, 39 음식점"
          example: "32"
        details:
          type: object
          description: contentTypeId별 상세소개 필드입니다. 빈 값, contentid, contenttypeid는 제외합니다.
          additionalProperties:
            type: string
          example:
            checkintime: "15:00"
            checkouttime: "11:00"
            parkinglodging: 주차 가능
            reservationurl: https://example.com
        googlePlace:
          $ref: "#/components/schemas/GooglePlaceInfo"
    GooglePlaceInfo:
      type: object
      nullable: true
      description: Google Places API에서 조회한 리뷰, 평점, 가격대, 운영시간 보강 정보입니다. Google API 키가 없거나 매칭되는 장소가 없으면 null입니다.
      properties:
        placeId:
          type: string
          example: google-place-id
        rating:
          type: number
          format: double
          description: Google 장소 평점
          example: 4.4
        reviewCount:
          type: integer
          description: Google 리뷰 개수
          example: 128
        priceLevel:
          type: string
          description: Google 가격대 코드
          example: PRICE_LEVEL_MODERATE
        openingHours:
          type: array
          description: 요일별 운영시간 설명
          items:
            type: string
          example:
            - "월요일: 오전 9:00 ~ 오후 6:00"
            - "화요일: 오전 9:00 ~ 오후 6:00"
        reviews:
          type: array
          description: Google 리뷰 목록
          items:
            $ref: "#/components/schemas/GoogleReview"
    GoogleReview:
      type: object
      properties:
        rating:
          type: integer
          example: 5
        text:
          type: string
          example: 좋았어요
        authorName:
          type: string
          example: 리뷰어
        relativePublishTimeDescription:
          type: string
          example: 1개월 전
        publishTime:
          type: string
          format: date-time
          example: 2026-06-01T00:00:00Z
    Place:
      type: object
      properties:
        contentId:
          type: string
          description: 한국관광공사 콘텐츠 ID
          example: "2869277"
        contentTypeId:
          type: string
          description: "관광타입 ID: 12 관광지, 14 문화시설, 15 축제공연행사, 25 여행코스, 28 레포츠, 32 숙박, 38 쇼핑, 39 음식점"
          example: "39"
        title:
          type: string
          example: 오플로우
        address:
          type: string
          example: 부산광역시 강서구 가락대로 1206 (봉림동)
        imageUrl:
          type: string
          example: https://tong.visitkorea.or.kr/cms/resource/70/2869270_image2_1.jpg
        thumbnailUrl:
          type: string
          example: https://tong.visitkorea.or.kr/cms/resource/70/2869270_image3_1.jpg
        longitude:
          type: number
          format: double
          example: 128.9010323937
        latitude:
          type: number
          format: double
          example: 35.1724954738
        regionCode:
          type: string
          description: 법정동 시도 코드
          example: "26"
        districtCode:
          type: string
          description: 법정동 시군구 코드
          example: "440"
    Festival:
      type: object
      properties:
        contentId:
          type: string
          description: 한국관광공사 콘텐츠 ID
          example: "3000001"
        contentTypeId:
          type: string
          description: 행사 관광타입 ID
          example: "15"
        title:
          type: string
          example: 부산바다축제
        address:
          type: string
          example: 부산광역시 해운대구
        imageUrl:
          type: string
          example: https://example.com/festival.jpg
        thumbnailUrl:
          type: string
          example: https://example.com/festival-thumb.jpg
        longitude:
          type: number
          format: double
          example: 129.16
        latitude:
          type: number
          format: double
          example: 35.163
        regionCode:
          type: string
          description: 법정동 시도 코드
          example: "26"
        districtCode:
          type: string
          description: 법정동 시군구 코드
          example: "350"
        eventStartDate:
          type: string
          description: 행사 시작일, YYYYMMDD
          example: "20260601"
        eventEndDate:
          type: string
          description: 행사 종료일, YYYYMMDD
          example: "20260710"
    SignUpRequest:
      type: object
      required:
        - email
        - nickname
      properties:
        email:
          type: string
          format: email
          example: test@example.com
        nickname:
          type: string
          example: 테스터
        provider:
          type: string
          example: google
        providerId:
          type: string
          example: google-123
        firstName:
          type: string
          example: 길동
        lastName:
          type: string
          example: 홍
    UpdateMyProfileRequest:
      type: object
      properties:
        nickname:
          type: string
          maxLength: 50
          example: 수정닉
        profileImageUrl:
          type: string
          maxLength: 500
          example: https://example.com/profile.png
        firstName:
          type: string
          maxLength: 50
          example: 길동
        lastName:
          type: string
          maxLength: 20
          example: 홍
    MyProfileResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          example: test@example.com
        nickname:
          type: string
          example: 테스터
        profileImageUrl:
          type: string
          example: https://example.com/profile.png
        provider:
          type: string
          example: google
        firstName:
          type: string
          example: 길동
        lastName:
          type: string
          example: 홍
    UserResponse:
      type: object
      properties:
        email:
          type: string
          format: email
          example: test@example.com
        nickname:
          type: string
          example: 테스터
    TravelSurveyProfileRequest:
      type: object
      properties:
        preferredLanguage:
          type: string
          maxLength: 5
          default: ko
          example: ko
        isPlanned:
          type: boolean
          nullable: true
          description: "true: 계획적, false: 즉흥적"
          example: true
        isRelaxed:
          type: boolean
          nullable: true
          description: "true: 여유롭게, false: 빡빡하게"
          example: false
        isSolo:
          type: boolean
          nullable: true
          description: "true: 혼자 여행 선호, false: 동행 여행 선호"
          example: true
        isLight:
          type: boolean
          nullable: true
          description: "true: 가볍게, false: 많이 챙김"
          example: true
        isFamiliar:
          type: boolean
          nullable: true
          description: "true: 부산을 아는 편, false: 잘 모름"
          example: false
        purposes:
          type: array
          description: 여행 목적. PostgreSQL `varchar(30)[]`로 저장됩니다.
          items:
            type: string
            maxLength: 30
          example:
            - food
            - scenery
        skippedSteps:
          type: array
          description: 스킵한 설문 단계. PostgreSQL `integer[]`로 저장됩니다.
          items:
            type: integer
          example:
            - 2
        skippedAll:
          type: boolean
          default: false
          example: false
    TravelSurveyProfileResponse:
      allOf:
        - $ref: "#/components/schemas/TravelSurveyProfileRequest"
        - type: object
          properties:
            completedAt:
              type: string
              format: date-time
              nullable: true
              example: "2026-06-25T13:14:33"
            aiPromptContext:
              type: string
              nullable: true
              example: preferred_language=ko; purposes=food,scenery; planned=true; relaxed=false; solo=true; light=true; familiar=false
    ApiErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Email is required.
        data:
          nullable: true
    OAuth2LoginResponseEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: OAuth2 login succeeded.
        data:
          $ref: "#/components/schemas/OAuth2LoginResponse"
    OAuth2LoginResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
          format: email
          description: OAuth provider가 제공한 사용자 이메일입니다. OAuth 로그인에서 필수입니다.
        nickname:
          type: string
        provider:
          type: string
          example: google
        loggedIn:
          type: boolean
          example: true
        emailRequired:
          type: boolean
          description: 이메일 추가 입력 필요 여부입니다. OAuth 로그인에서는 provider 이메일 제공이 필수이므로 항상 false입니다.
          example: false
        accessToken:
          type: string
          description: Opaque access token. Store securely on the client and send it as a Bearer token.
        tokenType:
          type: string
          example: Bearer
        expiresIn:
          type: integer
          format: int64
          example: 3600
    TravelCreateRequest:
      type: object
      required:
        - startDate
        - endDate
      properties:
        title:
          type: string
          maxLength: 15
          nullable: true
          example: 부산 여행
        startDate:
          type: string
          format: date
          example: "2026-08-01"
        endDate:
          type: string
          format: date
          example: "2026-08-03"
        hasHeavyBaggage:
          type: boolean
          nullable: true
          example: false
        hasPets:
          type: boolean
          nullable: true
          example: false
        travelStyle:
          $ref: "#/components/schemas/TravelStyle"
        preferFlatTerrain:
          type: boolean
          nullable: true
          example: true
        pace:
          $ref: "#/components/schemas/TravelPace"
        companionCount:
          type: integer
          nullable: true
          example: 2
        preferredFoods:
          type: string
          nullable: true
          example: 해산물
        companionTypes:
          $ref: "#/components/schemas/CompanionType"
        accommodationArea:
          type: string
          nullable: true
          example: 해운대
    TravelResponse:
      allOf:
        - $ref: "#/components/schemas/TravelCreateRequest"
        - type: object
          properties:
            id:
              type: string
              format: uuid
              example: 10000000-0000-0000-0000-000000000001
            status:
              $ref: "#/components/schemas/TravelStatus"
            createdAt:
              type: string
              format: date-time
              nullable: true
              example: "2026-07-05T14:30:00"
    TravelStatusUpdateRequest:
      type: object
      required:
        - status
      properties:
        status:
          $ref: "#/components/schemas/TravelStatus"
    PlanCreateRequest:
      type: object
      required:
        - dayNumber
        - visitDate
      properties:
        dayNumber:
          type: integer
          minimum: 1
          example: 1
        visitDate:
          type: string
          format: date
          example: "2026-08-01"
    PlanResponse:
      type: object
      properties:
        planId:
          type: string
          format: uuid
          example: 20000000-0000-0000-0000-000000000001
        travelId:
          type: string
          format: uuid
          example: 10000000-0000-0000-0000-000000000001
        dayNumber:
          type: integer
          example: 1
        visitDate:
          type: string
          format: date
          example: "2026-08-01"
    PlanPlaceCreateRequest:
      type: object
      required:
        - placeName
        - address
        - provider
        - providerPlaceId
      properties:
        sequence:
          type: integer
          minimum: 1
          nullable: true
          description: 생략하면 해당 일자의 마지막 순서로 추가됩니다.
          example: 1
        placeName:
          type: string
          example: 부산역
        address:
          type: string
          example: 부산 동구 중앙대로 206
        latitude:
          type: number
          format: double
          nullable: true
          example: 35.115
        longitude:
          type: number
          format: double
          nullable: true
          example: 129.041
        provider:
          $ref: "#/components/schemas/PlaceProvider"
        providerPlaceId:
          type: string
          example: google-place-id
        durationMinutes:
          type: integer
          minimum: 0
          nullable: true
          description: 해당 장소 체류시간(분)
          example: 60
        memo:
          type: string
          nullable: true
          example: 정문에서 만나기
        scheduledTime:
          type: string
          format: time
          nullable: true
          example: "10:30:00"
        visited:
          type: boolean
          nullable: true
          example: false
    PlanPlaceUpdateRequest:
      type: object
      properties:
        durationMinutes:
          type: integer
          minimum: 0
          nullable: true
          description: 체류시간(분)
          example: 90
        scheduledTime:
          type: string
          format: time
          nullable: true
          description: 스케줄 시작 시간
          example: "13:30:00"
        memo:
          type: string
          nullable: true
          example: 점심 예약
    PlanPlaceUpdatePlaceRequest:
      type: object
      required:
        - placeName
        - address
        - provider
        - providerPlaceId
      properties:
        placeName:
          type: string
          example: 광안리
        address:
          type: string
          example: 부산 수영구
        latitude:
          type: number
          format: double
          nullable: true
          example: 35.153
        longitude:
          type: number
          format: double
          nullable: true
          example: 129.118
        provider:
          $ref: "#/components/schemas/PlaceProvider"
        providerPlaceId:
          type: string
          example: kakao-gwangalli-id
    PlanPlaceSequenceUpdateRequest:
      type: object
      required:
        - planPlaceIds
      properties:
        planPlaceIds:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
          example:
            - 30000000-0000-0000-0000-000000000002
            - 30000000-0000-0000-0000-000000000001
    PlanPlaceResponse:
      type: object
      properties:
        planPlaceId:
          type: string
          format: uuid
          example: 30000000-0000-0000-0000-000000000001
        planId:
          type: string
          format: uuid
          example: 20000000-0000-0000-0000-000000000001
        sequence:
          type: integer
          example: 1
        placeName:
          type: string
          example: 부산역
        address:
          type: string
          example: 부산 동구 중앙대로 206
        latitude:
          type: number
          format: double
          nullable: true
          example: 35.115
        longitude:
          type: number
          format: double
          nullable: true
          example: 129.041
        provider:
          $ref: "#/components/schemas/PlaceProvider"
        providerPlaceId:
          type: string
          example: google-place-id
        durationMinutes:
          type: integer
          nullable: true
          example: 60
        memo:
          type: string
          nullable: true
          example: 정문에서 만나기
        scheduledTime:
          type: string
          format: time
          nullable: true
          example: "10:30:00"
        visited:
          type: boolean
          nullable: true
          example: false
    TravelPlansResponse:
      type: object
      properties:
        travelId:
          type: string
          format: uuid
          example: 10000000-0000-0000-0000-000000000001
        title:
          type: string
          nullable: true
          example: 부산 여행
        days:
          type: array
          items:
            $ref: "#/components/schemas/TravelPlanDay"
    TravelPlanDay:
      type: object
      properties:
        planId:
          type: string
          format: uuid
          example: 20000000-0000-0000-0000-000000000001
        dayNumber:
          type: integer
          example: 1
        visitDate:
          type: string
          format: date
          example: "2026-08-01"
        places:
          type: array
          items:
            $ref: "#/components/schemas/TravelPlanPlace"
    TravelPlanPlace:
      type: object
      properties:
        planPlaceId:
          type: string
          format: uuid
          example: 30000000-0000-0000-0000-000000000001
        sequence:
          type: integer
          example: 1
        placeName:
          type: string
          example: 부산역
        address:
          type: string
          example: 부산 동구 중앙대로 206
        latitude:
          type: number
          format: double
          nullable: true
          example: 35.115
        longitude:
          type: number
          format: double
          nullable: true
          example: 129.041
        provider:
          $ref: "#/components/schemas/PlaceProvider"
        providerPlaceId:
          type: string
          example: google-place-id
        durationMinutes:
          type: integer
          nullable: true
          description: 해당 장소 체류시간(분)
          example: 60
        visited:
          type: boolean
          nullable: true
          example: false
        routeToNext:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/PlanRouteResponse"
    PlanRouteResponse:
      type: object
      properties:
        transportType:
          $ref: "#/components/schemas/TransportType"
        durationMinutes:
          type: integer
          nullable: true
          description: 다음 장소까지 이동시간(분)
          example: 35
        distanceMeters:
          type: integer
          nullable: true
          example: 12000
        provider:
          $ref: "#/components/schemas/PlaceProvider"
    TravelStatus:
      type: string
      enum:
        - PLANNED
        - IN_PROGRESS
        - COMPLETED
      example: PLANNED
    TravelStyle:
      type: string
      nullable: true
      enum:
        - TOURISM
        - REST
        - FOOD
        - ACTIVITY
        - SHOPPING
      example: REST
    TravelPace:
      type: string
      nullable: true
      enum:
        - RELAXED
        - BALANCED
        - TIGHT
      example: RELAXED
    CompanionType:
      type: string
      nullable: true
      enum:
        - SOLO
        - FRIEND
        - COUPLE
        - FAMILY
        - GROUP
      example: FRIEND
    PlaceProvider:
      type: string
      enum:
        - KAKAO
        - NAVER
        - GOOGLE
      example: GOOGLE
    TransportType:
      type: string
      enum:
        - CAR
        - PUBLIC_TRANSPORT
        - WALK
      example: CAR
    TravelInviteLinkResponse:
      type: object
      properties:
        inviteLink:
          type: string
          example: https://yourdomain.com/invite?token=invite-token
    TravelInviteLinkInfoEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 여행 초대 링크 조회 성공
        data:
          $ref: "#/components/schemas/TravelInviteLinkInfoResponse"
    TravelInviteLinkInfoResponse:
      type: object
      properties:
        inviteLink:
          type: string
          example: https://yourdomain.com/invite?token=invite-token
        expiredAt:
          type: string
          format: date-time
          example: "2026-08-01T12:00:00+09:00"
    TravelInviteDeleteEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 여행 초대 링크 폐기 완료
        data:
          nullable: true
          example: null
    TravelMemberListEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 여행 멤버 목록 조회 성공
        data:
          type: array
          items:
            $ref: "#/components/schemas/TravelMemberResponse"
    MyTravelListEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 내가 참여 중인 여행 목록 조회 성공
        data:
          type: array
          items:
            $ref: "#/components/schemas/MyTravelResponse"
    MyTravelResponse:
      type: object
      properties:
        travelId:
          type: string
          format: uuid
          example: 10000000-0000-0000-0000-000000000001
        title:
          type: string
          nullable: true
          example: 부산 여행
        startDate:
          type: string
          format: date
          example: "2026-08-01"
        endDate:
          type: string
          format: date
          example: "2026-08-03"
        status:
          $ref: "#/components/schemas/TravelStatus"
        role:
          $ref: "#/components/schemas/TravelTeamRole"
        createdAt:
          type: string
          format: date-time
          nullable: true
          example: "2026-07-09T10:00:00"
    TravelMemberResponse:
      type: object
      properties:
        memberId:
          type: string
          format: uuid
          example: 40000000-0000-0000-0000-000000000001
        userId:
          type: string
          format: uuid
          example: 50000000-0000-0000-0000-000000000001
        email:
          type: string
          format: email
          nullable: true
          example: leader@example.com
        nickname:
          type: string
          example: 여행방장
        profileImageUrl:
          type: string
          nullable: true
          example: https://example.com/profile.png
        role:
          $ref: "#/components/schemas/TravelTeamRole"
    TravelLeaderTransferRequest:
      type: object
      required:
        - newLeaderUserId
      properties:
        newLeaderUserId:
          type: string
          format: uuid
          description: 새 방장이 될 여행 멤버의 사용자 ID
          example: 50000000-0000-0000-0000-000000000001
    TravelLeaderTransferEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 여행 방장 위임 완료
        data:
          nullable: true
          example: null
    TravelMemberRemoveEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 여행 멤버 강퇴 완료
        data:
          nullable: true
          example: null
    InviteVerificationEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 초대 토큰 검증 성공
        data:
          $ref: "#/components/schemas/InviteVerificationResponse"
    InviteVerificationResponse:
      type: object
      properties:
        travelId:
          type: string
          format: uuid
          example: 10000000-0000-0000-0000-000000000001
        travelName:
          type: string
          example: 부산 여행
        valid:
          type: boolean
          example: true
    TravelExitEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 여행 나가기 완료
        data:
          nullable: true
          example: null
    TravelTeamRole:
      type: string
      enum:
        - LEADER
        - MEMBER
      example: LEADER
    ExpenseCategory:
      type: string
      description: 경비 카테고리
      enum:
        - FOOD
        - TRANSPORT
        - ACCOMMODATION
        - ACTIVITY
        - SHOPPING
        - ETC
      example: FOOD
    ExpenseSplitType:
      type: string
      description: 경비 분할 방식. 현재 API는 균등 분할만 생성/수정합니다.
      enum:
        - EQUAL
        - CUSTOM
      example: EQUAL
    TravelExpenseCreateRequest:
      type: object
      required:
        - title
        - amount
        - category
        - payerUserId
        - participantUserIds
        - spentAt
      properties:
        title:
          type: string
          maxLength: 50
          description: 경비 제목
          example: 광안리 저녁 식사
        amount:
          type: integer
          format: int64
          minimum: 1
          description: 총 결제 금액
          example: 60000
        currency:
          type: string
          minLength: 3
          maxLength: 3
          description: ISO 4217 통화 코드. 생략하면 서버 기본값을 사용합니다.
          example: KRW
        category:
          $ref: "#/components/schemas/ExpenseCategory"
        payerUserId:
          type: string
          format: uuid
          description: 실제 결제자 사용자 ID. 여행 멤버여야 합니다.
          example: 50000000-0000-0000-0000-000000000001
        participantUserIds:
          type: array
          minItems: 1
          description: 경비를 나눠 부담할 여행 멤버 ID 목록
          items:
            type: string
            format: uuid
          example:
            - 50000000-0000-0000-0000-000000000001
            - 50000000-0000-0000-0000-000000000002
            - 50000000-0000-0000-0000-000000000003
        spentAt:
          type: string
          format: date-time
          description: 경비가 발생한 일시
          example: "2026-08-01T19:30:00"
        memo:
          type: string
          maxLength: 500
          nullable: true
          description: 경비 메모
          example: 회비로 결제
    TravelExpenseUpdateRequest:
      allOf:
        - $ref: "#/components/schemas/TravelExpenseCreateRequest"
    TravelExpenseCreateResponse:
      type: object
      properties:
        expenseId:
          type: string
          format: uuid
          example: 60000000-0000-0000-0000-000000000001
        travelId:
          type: string
          format: uuid
          example: 10000000-0000-0000-0000-000000000001
        title:
          type: string
          example: 광안리 저녁 식사
        amount:
          type: integer
          format: int64
          example: 60000
        currency:
          type: string
          example: KRW
        category:
          $ref: "#/components/schemas/ExpenseCategory"
        payerUserId:
          type: string
          format: uuid
          example: 50000000-0000-0000-0000-000000000001
        createdByUserId:
          type: string
          format: uuid
          example: 50000000-0000-0000-0000-000000000001
        splitType:
          $ref: "#/components/schemas/ExpenseSplitType"
        spentAt:
          type: string
          format: date-time
          example: "2026-08-01T19:30:00"
        memo:
          type: string
          nullable: true
          example: 회비로 결제
        shares:
          type: array
          description: 참여자별 분담 금액
          items:
            $ref: "#/components/schemas/TravelExpenseShareResponse"
    TravelExpenseShareResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
          example: 50000000-0000-0000-0000-000000000001
        shareAmount:
          type: integer
          format: int64
          example: 20000
    TravelExpenseListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/TravelExpenseListItem"
        page:
          type: integer
          example: 0
        size:
          type: integer
          example: 20
        totalElements:
          type: integer
          format: int64
          example: 12
        totalPages:
          type: integer
          example: 1
    TravelExpenseListItem:
      type: object
      properties:
        expenseId:
          type: string
          format: uuid
          example: 60000000-0000-0000-0000-000000000001
        title:
          type: string
          example: 광안리 저녁 식사
        amount:
          type: integer
          format: int64
          example: 60000
        currency:
          type: string
          example: KRW
        category:
          $ref: "#/components/schemas/ExpenseCategory"
        payer:
          $ref: "#/components/schemas/TravelExpenseUserSummary"
        participantCount:
          type: integer
          format: int64
          example: 3
        spentAt:
          type: string
          format: date-time
          example: "2026-08-01T19:30:00"
        createdAt:
          type: string
          format: date-time
          example: "2026-08-01T20:00:00"
    TravelExpenseDetailResponse:
      type: object
      properties:
        expenseId:
          type: string
          format: uuid
          example: 60000000-0000-0000-0000-000000000001
        travelId:
          type: string
          format: uuid
          example: 10000000-0000-0000-0000-000000000001
        title:
          type: string
          example: 광안리 저녁 식사
        amount:
          type: integer
          format: int64
          example: 60000
        currency:
          type: string
          example: KRW
        category:
          $ref: "#/components/schemas/ExpenseCategory"
        payer:
          $ref: "#/components/schemas/TravelExpenseUserSummary"
        createdBy:
          $ref: "#/components/schemas/TravelExpenseUserSummary"
        splitType:
          $ref: "#/components/schemas/ExpenseSplitType"
        spentAt:
          type: string
          format: date-time
          example: "2026-08-01T19:30:00"
        memo:
          type: string
          nullable: true
          example: 회비로 결제
        shares:
          type: array
          items:
            $ref: "#/components/schemas/TravelExpenseShareDetail"
        editable:
          type: boolean
          description: 현재 인증 사용자가 이 경비를 수정/삭제할 수 있는지 여부
          example: true
        createdAt:
          type: string
          format: date-time
          example: "2026-08-01T20:00:00"
        updatedAt:
          type: string
          format: date-time
          example: "2026-08-01T20:10:00"
    TravelExpenseUserSummary:
      type: object
      properties:
        userId:
          type: string
          format: uuid
          example: 50000000-0000-0000-0000-000000000001
        nickname:
          type: string
          example: 여행방장
    TravelExpenseShareDetail:
      type: object
      properties:
        userId:
          type: string
          format: uuid
          example: 50000000-0000-0000-0000-000000000001
        nickname:
          type: string
          example: 여행방장
        shareAmount:
          type: integer
          format: int64
          example: 20000
    TravelExpenseSummaryResponse:
      type: object
      properties:
        travelId:
          type: string
          format: uuid
          example: 10000000-0000-0000-0000-000000000001
        expenseCount:
          type: integer
          format: int64
          description: 집계 대상 경비 수
          example: 5
        currencySummaries:
          type: array
          items:
            $ref: "#/components/schemas/TravelExpenseCurrencySummary"
        from:
          type: string
          format: date-time
          nullable: true
          example: "2026-08-01T00:00:00"
        to:
          type: string
          format: date-time
          nullable: true
          example: "2026-08-03T23:59:59"
    TravelExpenseCurrencySummary:
      type: object
      properties:
        currency:
          type: string
          example: KRW
        totalAmount:
          type: integer
          format: int64
          example: 180000
        categorySummaries:
          type: array
          items:
            $ref: "#/components/schemas/TravelExpenseCategorySummary"
        memberSummaries:
          type: array
          items:
            $ref: "#/components/schemas/TravelExpenseMemberSummary"
    TravelExpenseCategorySummary:
      type: object
      properties:
        category:
          $ref: "#/components/schemas/ExpenseCategory"
        amount:
          type: integer
          format: int64
          example: 90000
        expenseCount:
          type: integer
          format: int64
          example: 2
        ratio:
          type: number
          format: decimal
          description: 해당 통화 총액 대비 카테고리 비율
          example: 0.5
    TravelExpenseMemberSummary:
      type: object
      properties:
        userId:
          type: string
          format: uuid
          example: 50000000-0000-0000-0000-000000000001
        nickname:
          type: string
[...]
